<a href="https://colab.research.google.com/github/muhammad124120061-cmyk/Teknik-Pemrograman-TG25-21002-ITERA/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
list_angka =[1,2,3]
list_data = ["Surya", 124120061, 124120062, True]
print(list_data)

['Surya', 124120061, 124120062, True]

In [11]:
print(list_data[1:3])

[124120061, 124120062]

In [14]:
list_nim = [1,2,3,4,5,6,7,8]

In [17]:
print(list_nim[-5:])
print(list_nim[::2])

[4, 5, 6, 7, 8]
[1, 3, 5, 7]

In [ ]:
#append
for i in range(100) :
  list_nim,append(i)

In [19]:
print(list_nim)

[1, 2, 3, 4, 5, 6, 7, 8]

In [25]:
tampungan_y = []
ganjil = []
for x in range(1,101) :
  y = x**2 + 2
  if y%2 == 1 :
    ganjil.append(y)
  tampungan_y.append(y)

In [ ]:
print(ganjil)

In [ ]:
ganjil [1;5] = [10,10,10,10]
print(ganjil)

In [ ]:
tuple_1 =(1,2,3)

In [ ]:
a,b,c = tuple_1

In [ ]:
print(a)

In [38]:
set_1 ={1,2,3}
print(set_1)

{1, 2, 3}

In [ ]:
for s in set_1:
  print(s)

In [ ]:
set1 = {1,2,3}
set2 = {3,4,5}

print(set1 - set2)

In [ ]:
#gabungan : {1,2,3,4,5}
print(set1 & set2) #irisan: {3}
print(set1 - set2) #selisih: {1,2}

In [ ]:
mhs = {"nama":Surya, "nim":124120061, "prodi" : Teknik}

print(mhs["nama"])
print(mhs ["nim"])
print(mhs["prodi"])

In [ ]:
mhs["namaputra"]

print(mhs)

In [ ]:
mhs.keys()

In [ ]:
for data in mhs.items():
  print(data)

In [ ]:
mhs = {
    "nama" : ["amdi", "asido", "purta"],
    "nim" : [123,124,125],
    "prodi" : ["tg", "gl", "if"]
    "univ" : "ITERA"
}

In [ ]:
mhs["nama"][0]
print(mhs["nama"])